{% render 'breadcrumb' %}
<div class="container">
<div class="row-bt pro-page halo-product-default">
  {% section 'product-sidebar' %}
  
  <div class="block-row col-main col-lg-9">
    {% section 'product-template' %}
  </div>  
</div>
</div>
{% section 'recently-viewed-products' %}