{% render 'breadcrumb' %}

<div class="row-bt pro-page halo-product-gallery">
 
  <div class="block-row col-main col-lg-12">
    {% section 'product-gallery-template' %}
  </div>

</div>

{% section 'recently-viewed-products' %}