{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-aca2bac9"></div>
{% if section.settings.show_des_cls  %}
    {% if collection.description  != blank %}
<div class="cat-content">
  <div class="wrapper">  
    <div class="cat-des">
      {{ collection.description  }}
    </div>
    <div class="cat-api">
      {% render 'product-api-collection'%}
    </div>
    
  </div>
</div>
{% endif %}
    {% endif  %}


{% schema %}
  {
    "name": "Collection Description",
    "settings": [
  	  {
        "type": "checkbox",
        "id": "show_des_cls",
        "label": "Show description",
        "default": true
      }
      
	]
  }
{% endschema %}

<style>
  .template-collection .cat-content .cat-img img{
    max-height: {{ section.settings.height_img }};
    object-fit: cover;
    width:100%;
  }
</style>