<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fdbd0afb85308001801340c&product=sop' async='async'></script>
<style>
  

body { overflow-x: hidden; }
ul li { font-family: 'Open sans'!important; } 
.footer-social.fa.fa-linkedin,.footer-social.fa.fa-rss { font-family: 'FontAwesome'; } 
.w-slider-dot.w-active {  background-color: #000!important; }
.white .w-slider-dot.w-active { background-color: #fff!important; }
.w-slider-dot { background-color: transparent!important; border: 1px solid #333; border-radius: 10px 10px 10px 10px; cursor: pointer; display: inline-block; height: 10px;  margin: 0 4px; transition: background-color .2s linear 0s,border-color .2s linear 0s; width: 10px; }
.white .w-slider-dot { border: 1px solid #fff!important; }
.icon-sec { height: 150px;margin: 0 auto; text-align: center; width: 150px; border-radius: 50%; color: #fff; font-size: 60px; background:#00426c;  line-height: 150px; }
.icon-sec:hover { color: #00426c; background:#719ebb; cursor: pointer;} 
blockquote { padding: 40px; background-color: #f7f9fa; margin: 40px 0; font-size: 18px; line-height: 30px; font-family: "Montserrat", sans-serif; color: #121212; border-left: none; } 
#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder { color: #fff; } 
#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder { color: #fff; opacity: 1; } 
#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder { color: #fff; opacity: 1; } 
#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder { color: #fff; }
.w-nav-menu >.w-nav-link.w--current { color: #fc9300!important; }
#tidio-chat-iframe { right: 0!important; left: unset!important; } 
#banner_slider .hero-slide.style-2, #banner_slider .hero-slide-1.style-2, #banner_slider .hero-slide-2.style-2, #banner_slider .hero-slide-3.style-2, #banner_slider .hero-slider-4.style-2, #banner_slider .hero-slide-5.style-2 { background-position: top center; }
.section-17-copy { background-position: top center;  }


@media (min-width: 1200px) and (max-width: 1299px) {
#banner_slider.hero-slider { padding-top: 68px; }
.hero-heading.size-95.alt-font.mb-20 { font-size: 56px; }


}


@media (min-width: 992px) and (max-width: 1199px) {
#banner_slider.hero-slider { padding-top: 115px; }
#new_banner1 .sub-hero-heading.size-30.alt-font.mb-20 { width: 77.8%; }
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { width: 77.8%; }
#new_banner1 .hero-subheading { width: 77.8%; }
#new_banner1 .button { left: 11.3%; }
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { font-size: 35px; }
#new_banner1 .hero-subheading { font-size: 18px; }





}


@media(max-width:991px) {

.custom-menu a { color:#888!important; }

}

@media (min-width: 768px) and (max-width: 991px) {
#banner_slider.hero-slider { padding-top: 70px; }
#new_banner1 .sub-hero-heading.size-30.alt-font.mb-20 { width: 80.8%; }
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { width: 80.8%; }
#new_banner1 .hero-subheading { width: 80.8%; }
#new_banner1 .button { left: 10.3%; }
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { font-size: 30px; margin-bottom: 15px;}
#new_banner1 .hero-subheading { font-size: 15px; }


}

@media (max-width: 767px) {
#banner_slider.hero-slider { padding-top: 70px; }
#new_banner1 .sub-hero-heading.size-30.alt-font.mb-20 { width: 70.8%; }
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { width: 70.8%; }
#new_banner1 .hero-subheading { width: 70.8%; }
#new_banner1 .button { left: 15.3%; }
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { font-size: 20px; margin-bottom: 15px;}
#new_banner1 .hero-subheading { font-size: 15px; }
#new_banner1 .hero-wrap { width: 70%; }
#new_banner1 .hero-subheading, #new_banner2 .hero-subheading, #new_banner3 .hero-subheading, #new_banner4 .hero-subheading, #new_banner5 .hero-subheading, #new_banner6 .hero-subheading { display: none; }



}

@media (max-width: 481px) {
.hero-heading.size-95.alt-font.mb-20 { font-size: 26px; }
.hero-heading.size-95.alt-font.mb-20.black-color { font-size: 24px; }
.hero-heading.size-30.alt-font.style-2.uppercase.sub-hero-heading { font-size: 25px; }
#banner_slider .hero-slide-3.style-2 p br { display: none; }
.hero-subheading.alt-font.style-2 { font-size: 23px; }

}

@media screen and (max-width: 479px) {

#banner_slider .hero-slide.style-2 { background-position: 83% 100%; }
#banner_slider .hero-slide-1.style-2 { background-position: 84% 50%; }
#banner_slider .hero-slide-2.style-2 { background-position: 84% 50%; }
#banner_slider .hero-slide-3.style-2, #banner_slider .hero-slide.style-2 {  background-position: 70% 50%; }
#banner_slider .hero-slide-5.style-2, #banner_slider .hero-slider-4.style-2 { background-position: 84% 50%; }
.hero-subheading, .hero-subheading.alt-font.style-2 { font-size: 15px; }
.hero-heading.size-95.alt-font.mb-20 { font-size: 18px; }
.hero-heading.size-95.alt-font.mb-20.black-color { font-size: 16px; }

}

@media (max-width: 320px) {
#banner_slider .hero-slide-3.style-2 .hero-wrap { top: 30%; }
#new_banner1 .sub-hero-heading.size-30.alt-font.mb-20 { width: 65.8%; color: #fff;}
#new_banner1 .hero-heading.size-95.alt-font.mb-20 { width: 65.8%; color: #fff; font-size: 18px;}
#new_banner1 .hero-subheading { width: 65.8%; color: #fff;}
#new_banner1 .button { left: 17.3%; color: #fff;  border-color: #fff;}
#new_banner1 .hero-wrap { width: 100%; }
}

</style>