

{% render 'breadcrumb' %}
{% section 'collection-header' %}

 

 


<div class="container">
<div class="row-bt"> 
  
  <div class="block-row col-main col-lg-9">
    {% section 'collection-description' %}
    <div class="collections-content-product">
    {% section 'collection-template' %}
    </div>
  </div>
</div>
</div>
{% section 'recently-viewed-products' %}